  .loading_span {
    --uib-size: 15px;
    --uib-color: black;
    --uib-speed: 2s;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .loading_span::before,
  .loading_span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
    transition: background-color 0.3s ease;
  }

  .loading_span::after {
    animation-delay: calc(var(--uib-speed) / -2);
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label {
	position: relative;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px 10px 10px 50px; /* Adjusted padding to make room for the custom circle */
}

.frb input[type="radio"] ~ label:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	width: 22px;
	height: 22px;
	border: 2px solid #ccc;
	border-radius: 50%;
	background-color: #ffffff;
	transition: background-color 0.3s, border-color 0.3s;
}

.frb input[type="radio"]:checked ~ label:before {
	background-color: #f359a9; /* Default filled color when selected */
	border-color: #f359a9; /* Match border color with filled color */
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover {
	box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label {
	color: #333; /* Text color when selected */
	background-color: #ffffff;
}

.frb input[type="radio"]:empty ~ label span {
	display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title {
	font-size: 16px;
	font-weight: 700;
	margin: 5px;
}

.frb input[type="radio"]:empty ~ label span.frb-description {
	font-weight: normal;
	font-style: italic;
	color: #999;
	margin: 5px;
}

/* Custom styles for different radio button states */
.frb.frb-primary input[type="radio"]:checked ~ label:before {
	background-color: #f359a9;
	border-color: #f359a9;
}

.frb.frb-success input[type="radio"]:checked ~ label:before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.frb.frb-info input[type="radio"]:checked ~ label:before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.frb.frb-warning input[type="radio"]:checked ~ label:before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.frb.frb-danger input[type="radio"]:checked ~ label:before {
	background-color: #d9534f;
	border-color: #d9534f;
}
